/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* 
.sr-only class is used to visually hide an element while keeping it accessible to screen readers.
This is commonly used to provide text descriptions for assistive technologies without displaying
the text on the screen. 
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* Remove underline from the icons */
a.icon-link {
    text-decoration: none;
}

/* Add spacing between the icons */
a.icon-link {
    margin-right: 10px; /* Adjust the margin value as needed */
}
